
.itemSection{
    border: 0.25rem black solid;
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    flex-grow: 1;
    padding: 1rem;
    h2{

    }
    figure{

            background-color: black;
        img{


        }
        figcaption{

            color: white;

        }
    }
    .desc{

    }
    .price{

    }

    .rating{

    }
    .discount{

    }
    


}