@use "./standard";
@use './variables.scss' as *;

.title{
    display: flex;
    flex-direction: column;
        font-weight: 500;
    gap: 0.5rem;
padding: 1rem;
 &:hover{
    outline: 3px solid aqua;
 }
}
.main-loading{
    background-color: $primary;
}
.loading{
    font-weight: bold;
    color: $white;
    font-size: 2rem;
}

h2{
}
.description{
    width: 100%;
    background-color: white;
    h3{
        color: $white;
        background-color: black;
        padding: 0.5rem 1rem;
    }
    p{
        padding: 0.5rem 1rem;
    }
}

.review{

    width: 100%;
    background-color: white;
    h3{
        color: $white;
        background-color: black;
        padding: 0.5rem 1rem;
    }
    p{
        padding: 0.5rem 1rem;
    }
}

.white-box {

            font-weight: 700;
            display: flex;
            color: black;
            padding: 0.4rem 0.7rem;
            border-radius: 0.2rem;
            background-color: $white;
min-width: max-content;
}
.section-price{

    :nth-child(1){
        margin-bottom: 1rem;
    }
    :nth-child(2){
        font-size: $h2-desktop;
        border-radius: $border-radius $border-radius 0rem 0rem;
    }
    :nth-child(3){
        border-radius: 0rem 0rem $border-radius $border-radius;
    text-decoration: line-through;
    font-size: 1rem;
    font-weight: 600;
    }
}

    .rating-section{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding-inline: 1rem;

    :last-child{
        margin-left: auto;
    }

}
    
.item-detail{
    display: flex;
    flex-direction: row;
    border-radius: 0.25rem;
    padding: 1rem;
    gap: 1rem;
    width: max(20rem,100%);

@media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
    .section-price{
        width: fit-content;
    }
}
    
    

h2{
    font-size: $h2-desktop;
    font-weight: 600;
    margin-bottom: 2rem;
}
.img-section{
    display: flex;
}

    .title{

        cursor: pointer;
        text-decoration: none;
    }
    .figure{
        position: relative;
        width: 100%;

        &:hover{
        }
        img{
        min-height: 20rem;
        min-width: 100%;
        background-color: $neutral-02;
        }
        .fig-cap{

            margin: 1rem;
            position: absolute;
            font-weight: bold;
            font-size: $h4-desktop;
            display: flex;
            color: black;
            padding: 0.9rem 1.2rem;
            border-radius: 0.2rem;
            background-color: $white;
            bottom: 2rem;
            right: 2rem;


        }
    }
}
.item{
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: $product-backgroud;

    width: 15rem;
    height: fit-content;
    h3{
    }

    >*{
    }
    li{
        margin: 0;
        padding: 0;
    }
    .title{

        cursor: pointer;
        text-decoration: none;
    &:hover{

    }
    &:visited{
        color: black;
    }
    }
    .figure{

        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        &:hover{
        }
        img{
        width: 100%;
        min-height: 5rem;
        background-color: $neutral-02;
        }
        .fig-cap{

            margin: 1rem;
            position: absolute;
            font-weight: bold;
            display: flex;
            color: black;
            padding: 0.3rem 0.4rem;
            border-radius: 0.2rem;
            background-color: white;


        }
    }
    .desc{

    }
    .price{

        font-weight: bold;
    }

    .rating{

    text-align: end;
    font-weight: bold;
    }
    .discount{

        font-size: 1rem;
        margin-top: -0.4rem;
        font-weight: 600;
        color: $neutral-02;
    }
    


}