$header-height: 5rem;

$mobile-breakpoint: 55rem;
$border-radius: 3px;

$primary: hsl(114, 75%, 43%);
$white: rgba(255, 255, 255, 0.9);
$black: rgba(0, 0, 0, 0.5);

$secondary: hsl(174, 38%, 85%);
$neutral-02: hsl(0, 0%, 48%);
$neutral-01: hsl(186, 9%, 22%);

$background-colour: hsl(0, 0%, 77%);
$product-backgroud: white;


// -------------- Typography---------------------//

$h1-desktop: 2.5rem;
$h2-desktop: 2rem;
$h3-desktop: 1.4rem;
$h4-desktop: 1.2rem;
$p-desktop: 1.4rem;
$hero-mobile: 2rem;
$h1-mobile: 1.75rem;
$h2-mobile: 1.5rem;

$p-mobile: 1.2rem;